*.pyc
*.o
*.mod
*__genmod.f90
*~
local.mk
models/out
models/in
models/*.png
models/*.in
models/.ropeproject
models/proplyd-auto-models/*
emission/*.dat
emission/*.png
*.log
_region_.tex
*.blg
*.bbl
*.dvi
*.aux
*.auxlock
*.synctex.gz
ltxpng
papers/*.log
papers/*.dep
papers/*.dpth
papers/auto
/emission/fastcube-orig.f90
emission/*.so
/emission/fastcubewrap.f90
/emission/config.mk
/emission/test_fastcube
emission/test_data/cube*.fits
emission/test_data/LW-*.fits
emission/test_data/M[01234]-*.fits
emission/test_data/Tmap-*.fits
emission/test_data/pv-cube-*.fits
emission/test_data/*.bck*
emission/test_data/*.bck*
emission/test_data/aperture-*
/papers/HST10/HST-10models.pdf
/papers/HST10/HST-10models.tex
testdata
/papers/HST10/will-hst10-model-section.out
