*.pyc
*.o
*.mod
local.mk
models/out
models/in
models/*.png
models/*.in
models/.ropeproject
models/proplyd-auto-models/*
emission/*.dat
emission/*.png
*.aux
*.auxlock
*.synctex.gz
papers/*.log
papers/*.dep
papers/*.dpth
papers/auto
/emission/fastcube-orig.f90
emission/*.so
/emission/fastcubewrap.f90
/emission/config.mk
/emission/test_fastcube
emission/test_data/cube*.fits
emission/test_data/LW-*.fits
emission/test_data/M[01234]-*.fits
emission/test_data/Tmap-*.fits
emission/test_data/pv-cube-*.fits
emission/test_data/*.bck*

